.WhyUsHead {
   font-weight: 700;
   display: flex;
   justify-content: center;
   margin-bottom: 40px;
}

.WhyUs {
   display: grid;
   gap: 64px;
}

.flexDiv {
   display: flex;
   gap: 195px;
}
.flexDiv1 {
   display: flex;
   gap: 160px;
}
.InfoBlock {
   display: flex;
}
.textWrapper {
   display: flex;
   flex-wrap: wrap;
   gap: 8px;
}

.icon {
   margin-right: 8px;
   margin-top: 8px;
   width: 24px;
   height: 18px;
}

.textWhyUs {
   font-weight: 500;
}
